.home-wrapper {
  background: #212121;
  padding-bottom: 16px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.home-wrapper .home-container {
  height: 100%;
  width: 100%;
  padding: 0 16px;
  position: relative;
}

.home-wrapper .home-container .empty {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-wrapper .home-container .empty h1 {
  font-size: 32px;
  color: #fff;
  font-weight: 400;
}

.home-wrapper .home-container .search-results {
  position: relative;
  margin-top: 80px;
  z-index: 50;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 16px;
  overflow-y: scroll;
}

.home-wrapper .home-container .similar-artists {
  position: relative;
  margin-top: 30px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  height: 20%;
  border-radius: 10px;
  width: 100%;
  z-index: 50;
}

.home-wrapper .home-container .similar-artists h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px 0 0 6px;
}

.home-wrapper .home-container .similar-artists .artists {
  margin-top: 24px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.home-wrapper .home-container .query-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.home-wrapper .home-container .query-wrapper.hide {
  z-index: 10;
  background-color: transparent;
}

.home-wrapper .home-container .query-wrapper.hide .query-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.home-wrapper .home-container .query-wrapper .query-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 90%;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}

.home-wrapper .home-container .query-wrapper .query-container input {
  height: 45px;
  width: 100%;
  background-color: transparent;
  font-size: 28px;
  border-bottom: 1px solid #c8c8c8;
  color: #fff;
  text-align: center;
}

.home-wrapper .home-container .query-wrapper .query-container i {
  color: #fff;
  padding: 7.5px;
  font-size: 32px;
  border-bottom: 1px solid #c8c8c8;
}
/*# sourceMappingURL=Home.css.map */